h1 {
	text-align: center;
	margin-top: 5%;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbar-right {
	margin-right: 1%;
}

.jumbotron {
    background-color: #003000;
    color: white;
}

table, tr {
	border: #9C9C9C solid 1px;
}

th {
	background-color: #9C9C9C;
	height: 5px;
}

.trHead {
	border: black solid 1px;
}

.modificaciones {
	text-align: center;
	margin-top: 0;
}

.btn-dark, .btn-success, .btn-danger {
	margin-right: 2%;
}

main {
	padding: 10px;
}

td {
	margin-top: 2%;
}

.btn-default {
	color: white;
	background-color: black;
}
