h1{
  text-align: center;
  margin-top: 5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  border: 1px solid #9C9C9C;
  background-color: #eeeeee;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.jumbotron {
  background-color: #003000;
  color: white;
  border-bottom:1px solid #9C9C9C;
}

.navbar-right{
  margin-right: 1%;
}